
.top {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 75px
}

.menu {
    text-align: center;
    font-size: 20px
}

.mucsach {
    font-weight: bold;
    font-size: 20px
}

.title p{
    font-size: 20px;
    color: white;
    text-align: center;
}